{
    email {$ACME_EMAIL}
}
{$DOMAIN} {
    encode zstd gzip
    request_body {
        max_size 9MB
    }
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "same-origin"
        -Server
    }
    reverse_proxy frontend:3000
}
